
<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Sushi&nbsp<span>Panda</span></h3>

				<p class="footer-links">
					
					<%= link_to "Menu", menu_path, class:"link-1" %>
					
					<%= link_to "A la carte", carte_path %>

					<%= link_to "Nous rejoindre", joined_path %>

					<%= link_to "Me connecter/S'inscrire", login_path%>

					<%= link_to "Panier", panier_path %>
															
				</p>

				<p class="footer-company-name">Sushi Panda © 2020</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>135, boulevard montparnasse</span>75006 Paris, France</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>01.75.75.75.75</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@sushipanda.com">support@sushipanda.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>A propos de Sushi Panda</span>
					Maison sushis depuis 1996.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="img-logo" src="fa fa-facebook"></a>
					<a href="#"><i class="img-logo" src="fa fa-facebook"></a>
					<a href="#"><i class="img-logo" src="fa fa-facebook"></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>